@font-face {
    font-family: '2nd Amendment';
    src: url('2ndAmendment.eot');
    src: url('2ndAmendment.eot?#iefix') format('embedded-opentype'),
    url('2ndAmendment.woff2') format('woff2'),
    url('2ndAmendment.woff') format('woff'),
    url('2ndAmendment.ttf') format('truetype'),
    url('2ndAmendment.svg#2ndAmendment') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.weapon-font {
    font-family: '2nd Amendment';
    font-weight: normal;
    font-style: normal;
}