/* This file is reserved for overriding and extending the template styles. */
.hide {
    display: none;
}

.adm-link {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.adm-link:hover {
    margin-left: 3px;
}

.btn-block {
    display: block;
    width: 100%;
}

.icon-size-lg {
    width: auto;
    height: 48px;
}

.icon-size-sm {
    width: auto;
    height: 24px;
}

.icon-size-xs {
    width: auto;
    height: 18px;
}

.form-group-left {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.form-group-right {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.form-group-middle {
    border-radius: 0 !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.size-th_icon {
    width: 32px;
}

.img-crop {
    max-width: 100%;
    height: auto;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-center {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.justifed {
    text-align: justify !important;
}

.vertical-align-center {
    vertical-align: middle;
}

.va-center {
    position: absolute;
    top: 26%;
    left: 20px;
}

.text-center {
    text-align: center !important;
}

.modal-fullscreen {
    max-width: 100%;
    max-height: 100%;
}

.sh-full {
    height: 70vh;
}

/* ==============================================================
                     image-cropper  Start
====================================================== */

.btn-upload .tooltip-inner {
    white-space: nowrap;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.img-container {
    min-height: 300px !important;
    max-height: 320px;
    margin-bottom: 20px;
}

.img-container > img {
    width: 960px;
}

@media (min-width: 768px) {
    .img-container {
        min-height: 480px;
    }
}

.docs-preview {
    margin-right: -15px;
}

.docs-preview .img-preview {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.docs-preview .img-preview > img {
    max-width: 100%;
}

.docs-preview .preview-lg {
    width: 100% !important;
}

.docs-preview .preview-md {
    width: 139px;
    height: 78px;
}

.docs-preview .preview-sm {
    width: 69px;
    height: 39px;
}

.docs-preview .preview-xs {
    width: 35px;
    height: 20px;
    margin-right: 0;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
    margin-right: 5px;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
    margin-bottom: 10px;
}

.docs-tooltip {
    display: block;
    margin: -6px -12px;
    padding: 6px 12px;
}

.docs-tooltip > .icon {
    margin: 0 -3px;
    vertical-align: top;
}

.tooltip-inner {
    white-space: normal;
}

.btn-upload .tooltip-inner {
    white-space: nowrap;
}

@media (max-width: 400px) {
    .btn-group-crop {
        margin-right: -15px !important;
    }

    .btn-group-crop > .btn {
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-group-crop .docs-tooltip {
        margin-left: -5px;
        margin-right: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.docs-options .dropdown-menu {
    width: 100%;
}

.docs-options .dropdown-menu > li {
    padding: 3px 20px;
    font-size: 14px;
}

.docs-options .dropdown-menu > li:hover {
    background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
    display: block;
}

.docs-cropped .modal-body {
    text-align: center;
}

.docs-cropped .modal-body > canvas,
.docs-cropped .modal-body > img {
    max-width: 100%;
}

.card-block .docs-options .dropdown-menu {
    top: inherit;
}

/* ==================  image-cropper end  ======================================= */

.symbol.required:before {
    content: "*";
    display: inline;
    color: #e6674a;
}

/*====== Font-size css starts ======*/
.f-8 {
    font-size: 8px !important;
}

.f-10 {
    font-size: 10px !important;
}

.f-11 {
    font-size: 11px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-22 {
    font-size: 22px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-26 {
    font-size: 26px !important;
}

.f-28 {
    font-size: 28px !important;
}

.f-30 {
    font-size: 30px !important;
}

.f-32 {
    font-size: 32px !important;
}

.f-34 {
    font-size: 34px !important;
}

.f-36 {
    font-size: 36px !important;
}

.f-38 {
    font-size: 38px !important;
}

.f-40 {
    font-size: 40px !important;
}

.f-42 {
    font-size: 42px !important;
}

.f-44 {
    font-size: 44px !important;
}

.f-46 {
    font-size: 46px !important;
}

.f-48 {
    font-size: 48px !important;
}

.f-50 {
    font-size: 50px !important;
}

.f-52 {
    font-size: 52px !important;
}

.f-54 {
    font-size: 54px !important;
}

.f-56 {
    font-size: 56px !important;
}

.f-58 {
    font-size: 58px !important;
}

.f-60 {
    font-size: 60px !important;
}

.f-62 {
    font-size: 62px !important;
}

.f-64 {
    font-size: 64px !important;
}

.f-66 {
    font-size: 66px !important;
}

.f-68 {
    font-size: 68px !important;
}

.f-70 {
    font-size: 70px !important;
}

.f-72 {
    font-size: 72px !important;
}

.f-74 {
    font-size: 74px !important;
}

.f-76 {
    font-size: 76px !important;
}

.f-78 {
    font-size: 78px !important;
}

.f-80 {
    font-size: 80px !important;
}

/*====== Font-weight css starts ======*/
.f-w-100 {
    font-weight: 100 !important;
}

.f-w-200 {
    font-weight: 200 !important;
}

.f-w-300 {
    font-weight: 300 !important;
}

.f-w-400 {
    font-weight: 400 !important;
}

.f-w-500 {
    font-weight: 500 !important;
}

.f-w-600 {
    font-weight: 600 !important;
}

.f-w-700 {
    font-weight: 700 !important;
}

.f-w-800 {
    font-weight: 800 !important;
}

.f-w-900 {
    font-weight: 900 !important;
}

.italic {
    font-style: italic;
}

/* Resets */
.mb-0 {
    margin-bottom: 0rem;
}

.m--2 {
    margin: -2px !important;
}

.m--5 {
    margin: -5px !important;
}

.m--10 {
    margin: -10px !important;
}

.m-l--2 {
    margin-left: -2px !important;
}

.m-l--5 {
    margin-left: -5px !important;
}

.m-l--10 {
    margin-left: -10px !important;
}

.m-b--2 {
    margin-bottom: -2px !important;
}

.m-b--5 {
    margin-bottom: -5px !important;
}

.m-b--10 {
    margin-bottom: -10px !important;
}

.m-b--50 {
    margin-bottom: -50px !important;
}

.m-t--2 {
    margin-top: -2px !important;
}

.m-t--5 {
    margin-top: -5px !important;
}

.m-t--10 {
    margin-top: -10px !important;
}

.m-t--20 {
    margin-top: -20px !important;
}

.m-t--30 {
    margin-top: -30px !important;
}

.m-t--40 {
    margin-top: -40px !important;
}

.m-t--50 {
    margin-top: -50px !important;
}

.p--2 {
    padding: -2px !important;
}

.p--5 {
    padding: -5px !important;
}

.p--10 {
    padding: -10px !important;
}

.p-l--2 {
    padding-left: -2px !important;
}

.p-l--5 {
    padding-left: -5px !important;
}

.p-l--10 {
    padding-left: -10px !important;
}

.p-b--2 {
    padding-bottom: -2px !important;
}

.p-b--5 {
    padding-bottom: -5px !important;
}

.p-b--10 {
    padding-bottom: -10px !important;
}

.p-b--50 {
    padding-bottom: -50px !important;
}

.p-t--2 {
    padding-top: -2px !important;
}

.p-t--5 {
    padding-top-top: -5px !important;
}

.p-t--10 {
    padding-top: -10px !important;
}

.p-t--20 {
    padding-top: -20px !important;
}

.p-t--30 {
    padding-top: -30px !important;
}

.p-t--40 {
    padding-top: -40px !important;
}

.p-t--50 {
    padding-top: -50px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-1 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-2 {
    margin-bottom: 20px !important;
}

.m-b-3 {
    margin-bottom: 33px !important;
}

.m-b-4 {
    margin-bottom: 40px !important;
}

.m-b-5 {
    margin-bottom: 50px !important;
}

.m-b-6 {
    margin-bottom: 60px !important;
}

.m-b-7 {
    margin-bottom: 70px !important;
}

.m-b-8 {
    margin-bottom: 80px !important;
}

.m-t-1 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-2 {
    margin-top: 23px !important;
}

.m-t-3 {
    margin-top: 35px !important;
}

.m-t-4 {
    margin-top: 40px !important;
}

.m-t-5 {
    margin-top: 50px !important;
}

.m-t-6 {
    margin-top: 60px !important;
}

.m-t-7 {
    margin-top: 70px !important;
}

.m-t-8 {
    margin-top: 80px !important;
}

.m-r-1 {
    margin-right: 10px !important;
}

.m-r-2 {
    margin-right: 20px !important;
}

.m-r-3 {
    margin-right: 30px !important;
}

.m-r-4 {
    margin-right: 40px !important;
}

.m-r-5 {
    margin-right: 50px !important;
}

.m-r-6 {
    margin-right: 60px !important;
}

.m-l-1 {
    margin-left: 10px !important;
}

.m-l-2 {
    margin-left: 20px !important;
}

.m-l-3 {
    margin-left: 30px !important;
}

.m-l-4 {
    margin-left: 40px !important;
}

.m-l-5 {
    margin-left: 50px !important;
}

.m-l-6 {
    margin-left: 60px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-b-1 {
    padding-bottom: 10px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-b-2 {
    padding-bottom: 20px !important;
}

.p-b-3 {
    padding-bottom: 30px !important;
}

.p-b-4 {
    padding-bottom: 40px !important;
}

.p-b-5 {
    padding-bottom: 50px !important;
}

.p-b-6 {
    padding-bottom: 60px !important;
}

.p-b-7 {
    padding-bottom: 70px !important;
}

.p-b-8 {
    padding-bottom: 80px !important;
}

.p-t-1 {
    padding-top: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-2 {
    padding-top: 20px !important;
}

.p-t-3 {
    padding-top: 30px !important;
}

.p-t-4 {
    padding-top: 40px !important;
}

.p-t-5 {
    padding-top: 50px !important;
}

.p-t-6 {
    padding-top: 60px !important;
}

.p-t-7 {
    padding-top: 70px !important;
}

.p-t-8 {
    padding-top: 80px !important;
}

.p-r-1 {
    padding-right: 10px !important;
}

.p-r-2 {
    padding-right: 20px !important;
}

.p-r-3 {
    padding-right: 30px !important;
}

.p-r-4 {
    padding-right: 40px !important;
}

.p-r-5 {
    padding-right: 50px !important;
}

.p-r-6 {
    padding-right: 60px !important;
}

.p-l-1 {
    padding-left: 10px !important;
}

.p-l-2 {
    padding-left: 20px !important;
}

.p-l-3 {
    padding-left: 30px !important;
}

.p-l-4 {
    padding-left: 40px !important;
}

.p-l-5 {
    padding-left: 50px !important;
}

.p-l-6 {
    padding-left: 60px !important;
}

.avatar-container {
    position: relative;
}

.avatar-container .image-container {
    overflow: hidden;
    border-radius: 16px;
}

.avatar-container .btn-group {
    position: absolute;
    width: 50%;
    opacity: 0.4;
    bottom: 10px;
    left: 25%;
    transition: all 0.2s;
}

.avatar-container:hover .btn-group {
    opacity: 1;
}

.swal-modal {
    border-radius: 15px;
}

.swal-icon--error {
    border-color: #cf2637;
}

.swal-icon--error__line {
    background-color: #cf2637;
}

.swal-icon--warning {
    border-color: #ffba57;
}

.swal-icon--warning__body {
    background-color: #ffba57;
}

.swal-icon--warning__dot {
    background-color: #ffba57;
}

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #ffc471;
    }

    to {
        border-color: #ffba57;
    }
}

@keyframes pulseWarning {
    0% {
        border-color: #ffc471;
    }

    to {
        border-color: #ffba57;
    }
}

.swal-icon--success {
    border-color: #9ccc65;
}

.swal-icon--success__ring {
    border: 4px solid rgba(156, 204, 101, 0.2);
}

.swal-icon--success__line {
    background-color: #9ccc65;
}

.swal-icon--info {
    border-color: #50c6db;
}

.swal-icon--info:after,
.swal-icon--info:before {
    background-color: #50c6db;
}

.swal-title {
    color: rgba(28, 28, 28, 0.65);
}

.swal-text {
    color: rgba(14, 14, 14, 0.65);
    font-size: 0.95rem;
}

.swal-button {
    background-color: #2499e3;
    border-radius: 13px;
    padding: 8px 24px;
}

.swal-button:not([disabled]):hover {
    background-color: #1d7ab4;
}

.swal-button:active {
    background-color: #1d7ab4;
}

.swal-button:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(70, 128, 255, 0.29);
}

.swal-button--cancel {
    color: #555;
    background-color: #efefef;
}

.swal-button--cancel:not([disabled]):hover {
    background-color: #e8e8e8;
}

.swal-button--cancel:active {
    background-color: #d7d7d7;
}

.swal-button--cancel:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(116, 136, 150, 0.29);
}

.swal-button--danger {
    background-color: #cf2637;
}

.swal-button--danger:not([disabled]):hover {
    background-color: #771a23;
}

.swal-button--danger:active {
    background-color: #771a23;
}

.swal-button--danger:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(255, 82, 82, 0.29);
}

.swal-footer {
    text-align: center;
}

.swal-content__input:focus {
    border-color: rgba(70, 128, 255, 0.29);
}

.swal-content__textarea:focus {
    border-color: rgba(70, 128, 255, 0.29);
}

.f-s-italic {
    font-style: italic;
}

.modal-xl {
    max-width: 1226px;
}

.modal-xxl {
    max-width: 1576px;
}

#news-slider {
    margin-top: 40px;
}

#listEditMainContent {
    display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    right: 0;
    background-size: 70% 70%;
}

.carousel-control-prev,
.carousel-control-next {
    top: -1%;
    width: 0;
    height: 20px;
}

.carousel-control-next {
    right: 47%;
}

.carousel-control-prev {
    left: 43%;
}

/* ===== Scroll Button ===== */
.chevron {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 15px;
    height: 6px;
    opacity: 0;
    transform: scale3d(0.6, 0.6, 0.6);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: " ";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 51%;
    background: #c9c9c9;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    position: absolute;
    bottom: 6px;
    left: calc(50% - 45px);
    display: block;
    color: #575757;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0.2;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.box {
    position: relative;
    overflow: hidden;
}

.box:hover {
    transition: all 0.3s ease-in-out;
}

.box:hover:before {
    transition: all 0.3s ease-in-out;
}

.box .btn-group {
    position: absolute;
    left: 2px;
    color: #fff;
    bottom: 0;
    z-index: 2;
    width: 100%;
    transition: opacity 0.2s, transform 0.3s;
}

.vintage .btn-group {
    opacity: 0;
    text-align: center;
}

.vintage .btn-group a {
    font-size: 1.1em !important;
}

.vintage:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(37, 70, 95, 1) 70%);
    z-index: 2;
    bottom: -100%;
    left: 0;
}
.vintage:hover:before {
    bottom: 0;
}
.vintage:hover .btn-group {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
}
.modal-title i, .modal-title h5 {
    vertical-align: middle;

}